body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #484343;
}
.Calculator-Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2f2c2c;
}
#Calculator-Display{
    width: 300px;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.Buttons{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-gap: 10px;
}
.Buttons button{
    width: 75px;
    height: 75px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #7d7d7d;
    cursor: pointer;
    transition: background-color 0.3s;
}
h1{
    text-align: center;
}
.Buttons button:hover{
    background-color: #a0a0a0;
}
.Buttons button:active{
    background-color: #5c5c5c;
}