body {
  background: #050f22;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* Center the content vertically and horizontally */
header {
  text-align: center;
  padding: 20px;
  background: #ecf2ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 0 0 20px 20px;
}

.Weather-box {
  background: #1e2a44;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
}

.Weather-box::before {
  content: "";
  position: absolute;
  width: 540px;
  height: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid transparent;
  border-top: 5px solid white;
  animation: circle 1s linear infinite; /* always spinning */
  pointer-events: none;
  transition: border-top-color 0.4s ease;
}

.Weather-box.done::before {
  opacity: 1;
  border-top-color: #00d4ff;
}

.Weather-box p {
  color: #fff;
  font-size: 2rem;
  margin-top: 20px;
}

.Weather-box p {
  color: #fff;
  font-size: 2rem;
  margin-top: 20px;
}
.Weather-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2f3c55;
  background: #1a263d;
  color: #fff;
  outline: none;
}
button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 0.5px solid white;
  background: #347bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background: #1a263d;
  border-color: #fff;
}

#weather_container {
  margin-top: 170px;
}

@keyframes circle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
