body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 200;
  font-size: 48px;
  color: #464545;
}
.thin-text {
  font-weight: 300;
}
.img_container img {
  max-width: 600px;
  margin-bottom: 20px;
  margin-top: 50px;
}
input[type="email"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 25px;
}
footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.social-icons {
  display: flex;
  gap: 20px;
}
.social-icons a {
  color: #666;
  font-size: 24px;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #007bff;
}
